.header-container {
    font-family: "Helvetica Regular";
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5vw;
    /* Изменено значение с 50px на 5vw */
    background-color: rgba(0, 0, 0, 0.03);
    /* Добавил прозрачность к фону, чтобы эффект размытия был более заметен */
    box-sizing: border-box;
    z-index: 999;
    backdrop-filter: blur(5px);
    /* Эффект размытия по Гауссу */
}

.header-right {
    display: flex;
    align-items: center;
}

.header-phone {
    color: white;
    margin-right: 20px;
    font-size: 18px;
}

.header-button {
    padding: 10px 20px;
    border: 1px solid #dca76d;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
}

@media (max-width: 768px) {
    .header-phone {
        display: none;
    }

    .header-button {
        display: none;
    }

    .header-container {
        padding-left: 10px;
    }
}