.Gcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100vh;
    /* Вы можете регулировать это значение, чтобы поднять или опустить секцию */

    /* Занимает всю высоту экрана */
}

.Gtext-left,
.Gright-section {
    flex: 0 0 50%;
    color: #FDF4E6;
    padding: 0 0vw;
    height: calc(100% - 10vw);
    /* Учитываем паддинги */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Выравнивание по центру по вертикали */
}

.Gright-inner {
    max-width: 50%;
    /* Ограничиваем максимальную ширину до 50% */
    margin: 0 auto;
    /* Центрируем содержимое по горизонтали */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 11vh;
    padding-left: 5vw;
}

.Gtext-left p,
.Gright-section p {
    font-family: "Helvetica Bold";
    margin: 0;
    font-size: 7vw;
    line-height: 1.3;
}

.little-font p {
    font-family: "Helvetica Regular";
    font-size: 1.3vw;
    line-height: 1.3;
    opacity: 0.8;
}

/* .Gright-section p {
    margin-bottom: 6vw;
  } */

.Gbutton {
    font-family: "Helvetica Regular";
    width: 17vw;
    /* Устанавливаем ширину кнопки в 15% от ширины экрана */
    height: 17vw;
    /* Устанавливаем высоту кнопки в 15% от ширины экрана (чтобы она была круглой) */
    font-size: 1.5vw;
    cursor: pointer;
    background-color: transparent;
    /* Прозрачный фон */
    color: white;
    border: 1px solid #dca76d;
    /* Тонкий бордер */
    border-radius: 50%;
    /* Круглая форма */
    transition: background-color 0.3s;
}

.Gbutton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Легкий фон при наведении */
}


/* Медиа-запрос для экранов шириной до 768px (обычно это мобильные устройства) */
@media (max-width: 768px) {
    .Gcontainer {
        flex-direction: column;
        padding: 10px;
        padding-top: 20vh;
        /* Обнуляем левый отступ */
        height: fit-content;
        align-items: flex-start;
        /* Выравнивание содержимого по левому краю */
        justify-content: flex-start;
    }

    .Gtext-left,
    .Gright-section {
        flex: 1;
        height: auto;
        padding: 0;
        margin-bottom: 0vh;
        justify-content: flex-start;
        align-items: flex-start;
        /* Выравнивание содержимого по левому краю */
    }

    .Gtext-left p {
        font-size: 14vw;
    }

    .Gright-section p {
        font-size: 4vw;
    }

    .Gright-inner {
        max-width: 100%;
        /* Устанавливаем максимальную ширину в 100% */
        margin: 0;
        /* Убираем автоматические отступы */
        padding-left: 5px;
    }

    .Gbutton {
        width: 65vw;
        height: 65vw;
        font-size: 4.5vw;
    }
    .little-font p {
       display: none;
    }
}


.gradientText {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), #FDF4E6, #dca76d, rgba(255, 255, 255, 0.5));
    color: transparent;
    -webkit-background-clip: text;
    background-size: 400% auto;
}


.svg-text {
    font-family: "Helvetica Regular", sans-serif;
}