.BasGeneral {
    padding: 50px;
    display: flex;
    flex-direction: row; /* устанавливаем горизонтальное направление */
    justify-content: space-between;
    height: calc(100vh - 100px); /* 100px — это двойной padding (сверху и снизу) */
}

.BasLeft, .BasRight {
    width: 50%; /* Устанавливаем ширину в 50% от родительского элемента */
    max-height: calc(100vh - 150px); /* уменьшим максимальную высоту, чтобы контент не выходил за границы экрана */
    overflow-y: auto; /* добавим прокрутку, если контент будет слишком большим */
}

.BasTop {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.BasRight {
    padding-left: 50px; /* добавляем отступ только слева */
    padding-right: 50px; /* добавляем отступ только справа */
    display: flex;
    flex-direction: column; /* отступ между элементами */
    box-sizing: border-box; /* чтобы паддинги включались в общую высоту элемента */
    max-width: 400px; /* фиксированная максимальная ширина */
    margin-left: auto; /* автоматический отступ слева */
    margin-right: auto; /* автоматический отступ справа */
}

.BasLeft {
    font-size: 2em;
    color: white;
    white-space: normal; /* Позволяет тексту переноситься на новую строку */
}
